extends layout

block content
  h1= title
  p Welcome to #{title}
  div Item IDs:
  ul
    li 21787
    li 1042
    li 11698

  div Please type in any of the three numbers listed above into the box below to retrieve its name and description
  div (This is done using a GET request)
  form(action='/item', method='get')
    | Item Id:
    input(type='text', name='id')
    br
    input(type='submit', value='Submit')

  br
  div Please type in any of the three numbers listed above into the box below to retrieve its current price
  div (This is done using a GET request)
  form(action='/price', method='get')
    | Item Id:
    input(type='text', name='id')
    br
    input(type='submit', value='Submit')
