extends layout

block content
    h1= title
    p This is the view for POST request
    p The content of the JSON object is:
    P The name of the student who wrote this is #{name} and his age is #{age}