<h1>RuneScape Item Info</h1>
<p>Welcome to RuneScape Item Info</p>
<div>Item IDs:</div>
<ul>
  <li>21787</li>
  <li>1042</li>
  <li>11698</li>
</ul>
<div>Please type in any of the three numbers listed above into the box below to retrieve its current price</div>
<div>(This is done using a GET request)</div>
<br>
<app-query-form></app-query-form>
<br>
<div>Please type in any of the three numbers listed above into the box below to retrieve its name and description</div>
<div>(This is done using a GET request)</div>
<br>
<app-item-info></app-item-info>
